.footerContainer{
    background-color:#ffd740;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: calc(100% - 32px);
   
}
.textDec{
    font-family:'Lobster', cursive;
    font-size: 110%;
 }