<div class="flex">
  <mat-card class="flex card">
    <mat-card-title>Dino Joel</mat-card-title>
    <mat-card-content>Here is Joel at a fish fry. 
      He is so excited to eat fryed fish in the basement of Holy Name church that he turned into a dino. 
</mat-card-content>
      <img src="assets/images/dinoJoel.jpeg">
</mat-card>
<mat-card class="flex card">
    <mat-card-title>Marlboro Dog</mat-card-title>
    <mat-card-content>Here is Maple on her weekly Saturday morning walk. 
      She insisted we go to Bucky's for a pack of smokes.
</mat-card-content>
      <img src="assets/images/dogSmokes.jpeg">
</mat-card>
<mat-card class="flex card">
    <mat-card-title>Colddog</mat-card-title>
    <mat-card-content>Maple is cold.
     Maple crawled in blanket. Maple warm? Maple very pathetic.  
</mat-card-content>
      <img src="assets/images/dogBlanketSnuggles.jpeg">
</mat-card>
<mat-card class="flex card">
    <mat-card-title>Flowering Dog</mat-card-title>
    <mat-card-content>Here is Maple in the backyard. 
      She is lying on a flowerbed. Does she think she's a flower? Will she start to bud? Stay tuned!
</mat-card-content>
      <img src="assets/images/dogFlower.jpeg">
</mat-card>
</div>