<mat-toolbar>
    <span class="flex"></span>
    <mat-toolbar><a routerLink="/home" routerLinkActive="active">Home</a></mat-toolbar> 
<span class="flex"></span>
<!-- <mat-toolbar class="flex">|</mat-toolbar> 
<span class="flex"></span> -->
<mat-toolbar class="flex"><a routerLink="/contact" routerLinkActive="active">Contact</a></mat-toolbar> 
<!-- <span class="flex"></span>
<mat-toolbar >|</mat-toolbar>  -->
<span class="flex"></span>
<mat-toolbar> <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></mat-toolbar> 

  </mat-toolbar>

