<div class="flex">

<div class="spacing">
<h1>Welcome!</h1>

<p> You've reached my site: thanks for visiting!</p>
<!-- <mat-card><img src="assets/images/dogAndA.jpeg"></mat-card> -->
<p> Feel at <span>home</span>,<br>
     reach out to me with a <span>comment or question</span>  <br>
     or just browse my <span>portfolio</span>. 
</p> 
 <p>Whatever you're here for, <span>I'm glad you stoped by.</span></p>
<!-- <p> Learn a little more about me, reach out to me with a comment or question or just browse my portfolio. Whatever you're hear for, I'm glad you stoped by.</p> -->
</div><div class="spacing"><img src="assets/images/dogAndSock.jpeg" class="homeImg"> </div></div>