<div class="flex height clear">

<div class="spacing">
<h1>Welcome!</h1>

<p class="textHome"> You've reached my site: thanks for visiting!</p>

<p class="font"> Feel at <span>home</span>,<br>
     reach out to me with<br> a <span>comment or question</span>  <br>
     or just browse my <span>portfolio</span>. 
</p> 
 <p class="textHome">Whatever you're here for, <br><span>I'm glad you stoped by.</span></p>

</div><div class="spacing"><img src="assets/images/dogAndSock.jpeg" class="homeImg"> </div></div>